<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyauto.qa.mapper.CityMapper">
	<resultMap id="BaseResultMap" type="com.xyauto.qa.entity.City">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="parent" jdbcType="INTEGER" property="parent" />
		<result column="type" jdbcType="TINYINT" property="type" />
		<result column="first_letter" jdbcType="CHAR" property="firstLetter" />
		<result column="created_at" jdbcType="INTEGER" property="createdAt" />
	</resultMap>
	<resultMap type="com.xyauto.bi.entity.vo.CityVo" id="biResultMap">
		<result column="city_id" jdbcType="INTEGER" property="cityId" />
		<result column="city_name" jdbcType="INTEGER" property="cityName" />
		<result column="provice_id" jdbcType="INTEGER" property="proviceId" />
		<result column="provice_name" jdbcType="INTEGER" property="proviceName" />
		<result column="question_count" jdbcType="INTEGER" property="questionCount" />
		<result column="answer_count" jdbcType="INTEGER" property="answerCount" />
	</resultMap>

	<select id="selectCityByQuestionCount" parameterType="java.util.Map"
		resultMap="biResultMap">
		SELECT c.id as city_id,c.`name` as city_name,
		p.id as
		provice_id ,p.`name` as provice_name,
		COUNT(q.question_id) as
		question_count
		from city c ,question q,city p
		where q.deleted_at=0
		and
		q.`status` in (1,2)
		and q.source !=999
		and q.city_id=c.id
		and
		c.parent=p.id
		and FROM_UNIXTIME(q.created_at,'%Y%m%d')
		BETWEEN
		#{startTime} and #{endTime}
		GROUP BY c.id DESC
		ORDER BY
		COUNT(q.question_id) desc LIMIT 50
	</select>

	<select id="selectCityByAnswerCount" parameterType="java.util.Map"
		resultMap="biResultMap">
		SELECT c.id as city_id,c.`name` as city_name,
		p.id as
		provice_id ,p.`name` as provice_name,
		COUNT(a.answer_id) as
		answer_count
		from city c ,answer a,city p
		where a.deleted_at=0
		and
		a.`status` in (1,2)
		and a.source !=999
		and a.city_id=c.id
		and
		c.parent=p.id
		and FROM_UNIXTIME(a.created_at,'%Y%m%d')
		BETWEEN
		#{startTime} and #{endTime}
		GROUP BY c.id DESC
		ORDER BY
		COUNT(a.answer_id) desc LIMIT 50
	</select>
	<select id="selectCityByuid" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT c.* from user_city uc,city c
		where uc.city_id=c.id
		and uc.uid=#{_parameter}
		ORDER BY uc.created_at DESC
	</select>

</mapper>